openapi: 3.0.3
info:
  title: SentinelAuth REST API
  description: Developer-first Two-Factor Authentication (2FA), Multi-Factor Authentication (MFA), SMS OTP, Email Verification, and TOTP Authenticator APIs designed for Australia and global applications.
  version: 1.0.0
  contact:
    name: SentinelAuth Support
    email: support@sentinelauth.com.au
    url: https://sentinelauth.com.au
servers:
  - url: https://sentinelauth.com.au/wp-json/sentinelauth/v1
    description: Production & Sandbox Gateway

paths:
  /send-otp:
    post:
      summary: Send One-Time Password
      description: Dispatches a 6-digit one-time password to a destination mobile phone (SMS) or email address.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - to
              properties:
                to:
                  type: string
                  description: Destination phone number in E.164 format (+614...) or valid email address.
                  example: "+61412345678"
                channel:
                  type: string
                  enum: [sms, email]
                  default: sms
                  description: Delivery channel.
                app_name:
                  type: string
                  description: Optional custom sender / application name shown in message.
                  example: "MyCompany"
      responses:
        '200':
          description: OTP successfully generated and dispatched.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  verification_id:
                    type: string
                    example: "ver_sms_67b8a1c902e4d"
                  channel:
                    type: string
                    example: "sms"
                  status:
                    type: string
                    example: "sent"
                  expires_in:
                    type: integer
                    example: 300
        '400':
          description: Invalid destination format or missing required parameter.
        '429':
          description: Rate limit or monthly quota exceeded.

  /verify-otp:
    post:
      summary: Verify One-Time Password
      description: Validates a user-submitted 6-digit code against an active verification ID.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - verification_id
                - code
              properties:
                verification_id:
                  type: string
                  description: The unique verification identifier returned by /send-otp.
                  example: "ver_sms_67b8a1c902e4d"
                code:
                  type: string
                  description: 6-digit code entered by user.
                  example: "492015"
      responses:
        '200':
          description: Verification confirmed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  verified:
                    type: boolean
                    example: true
                  verification_id:
                    type: string
                    example: "ver_sms_67b8a1c902e4d"
                  response_time_ms:
                    type: integer
                    example: 48
        '400':
          description: Invalid or expired code.

  /totp/enroll:
    post:
      summary: Enroll TOTP Factor
      description: Creates a new cryptographic secret and generates an authenticator QR code for Google/Microsoft Authenticator.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - user_identifier
              properties:
                user_identifier:
                  type: string
                  description: Unique internal ID or username for the end user.
                  example: "usr_994821"
                account_name:
                  type: string
                  description: Account label shown in authenticator app.
                  example: "alex@example.com"
                issuer:
                  type: string
                  description: App/Company name shown in authenticator app.
                  default: "SentinelAuth"
      responses:
        '200':
          description: Factor successfully enrolled.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  factor_id:
                    type: string
                    example: "totp_fac_67b8a1c902e4d"
                  secret:
                    type: string
                    example: "JBSWY3DPEHPK3PXP"
                  qr_code_url:
                    type: string
                    example: "https://api.qrserver.com/v1/create-qr-code/?size=180x180&data=..."
                  otpauth_url:
                    type: string
                    example: "otpauth://totp/SentinelAuth:alex@example.com?secret=..."

  /totp/verify:
    post:
      summary: Verify TOTP Authenticator Code
      description: Validates a 6-digit rolling code generated by an enrolled authenticator app.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - factor_id
                - code
              properties:
                factor_id:
                  type: string
                  description: Factor ID or user identifier.
                  example: "totp_fac_67b8a1c902e4d"
                code:
                  type: string
                  description: Current 6-digit rolling code.
                  example: "729410"
      responses:
        '200':
          description: Code verified.

  /quota:
    get:
      summary: Check Account Quota & Usage
      description: Returns real-time API call count, plan limits, and reset dates.
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Current account usage telemetry.

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API_KEY
